.payment {
    width : 100%;
    height : 100%;
}

.header {
    width: 100%;
    height : 10%;
    background-color: white;
    display : flex;
    flex-direction: row;
    align-items: center;
    padding : 5%;
    box-sizing: border-box;
    position: relative;
}

.title {
    flex: 1; 
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.userpoint {
    width : 100%;
    height : 20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding : 10%;
}

.list {
    width : 100%;
    height : 70%;
    box-sizing: border-box;
}

.list li {
    width : 100%;
    height : 100%;
    box-sizing: border-box;
    list-style-type: none;
    transition: background-color 0.3s ease;
}

.list li ul {
    width : 100%;
    height : 23%;
    display : flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
    cursor : pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.list li ul:hover {
    background-color: #f8f8f8;
}

.list ul:last-child {
    border-bottom: none; 
}

.list li ul img {
    height : 100%;
    width : 30%;
    object-fit: cover;
    padding : 5%;
}

.point {
    height : 100%;
    width : 70%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding-left : 2%;
    padding-right : 7%;
}

.modal {
    bottom : 0;
    position: fixed;
    max-width: 390px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index : 1000;
}

.modalOpen {
    opacity : 1;
}

.modalClosing {
    opacity : 0;
}

.modalContentClosing {
    animation : slideDown 0.3s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

.modalContent {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
    max-height: 80vh;
    overflow-y: auto;
    animation: slideUp 0.3s forwards;
    width : 100%;
    overflow-y: auto;
    display : flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slideUp {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}

.modalContent::-webkit-scrollbar {
    width: 6px;
}

.modalContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.modalImg {
    width : 50%;
}
