.startforselect {
    width : 100%;
    height : 100%;
}

.headerforselect {
    width : 100%;
    height : 12%;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-top : 10px;
}

.cardforuserinfo {
  width : 40%;
  height : 70%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: white;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor : pointer;
}

.cardforuserinfo img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  margin-right: 0.75rem;
}

.dropdown {
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f3f4f6;
}

.logo {
    width : 100%;
    height : 27%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width : 30%;
    height : auto;
}

.cardContainerforselect {
    width : 100%;
    height : 53%;
    display : flex;
    flex-flow : wrap;
}

.card {
    width: 170px;
    height: 170px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #bebebe,
               -5px -5px 15px #ffffff;
    transition: 0.2s ease-in-out;
    margin : 12.1px;
  }
  
  .img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: top;
    justify-content: right;
  }
  
  .text {
    width: 100%;
    height: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;

  }
  
  .text .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-bottom: 5px;
  }
  
  .text .p {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  }