/* src/css/LoadingPage.module.css */
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 50px;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  color: #888;
  margin-bottom: 4px;
}

.title {
  font-size: 32px;
  color: #ff758c;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 20px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  height: auto%;
}
