.apps {
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* flex */
.display-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/* size */
.border-box {
  box-sizing: border-box;
}
.width-30 {
  width: 30px;
}
.height-30 {
  height: 30px;
}
.width-330 {
  width: 330px;
}
.height-80 {
  height: 80px;
}

/* margin */
.margin-0 {
  margin: 0;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-3-0 {
  margin: 3px 0px;
}
/* padding */
.padding-10-20 {
  padding: 10px 20px;
}
.padding-5-20 {
  padding: 5px 20px;
}

/* font */
.font-bolder {
  font-weight: bolder;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-15 {
  font-size: 15px;
}

/* color */
.color-E37C91 {
  color: #E37C91;
}
.color-white {
  color: #ffffff;
}
.color-767676 {
  color: #767676;
}
.backgroundcolor-E37C91 {
  background-color: #E37C91;
}
.background-color-white-30 {
  background-color: #ffffff70;
}
.background-color-white-70 {
  background-color: #ffffffa3;
}

/* border */
.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}

/* shadow */
.shadow-0-0-10-0 {
  box-shadow: 0px 0px 10px 0px #00000034;
  
}

/* icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
